<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9uKD3L26e9PNS75sbxSBM9mtaGEkY4-k</string>
	<key>GCM_SENDER_ID</key>
	<string>399064326894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookForMe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>foodbnb-web-app</string>
	<key>STORAGE_BUCKET</key>
	<string>foodbnb-web-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399064326894:ios:22c2f16936c8f95e1109ff</string>
</dict>
</plist>